@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

h1, h3, h5 {
    /*font-family: 'Akira Expanded', sans-serif;*/
    font-family: 'Plus Jakarta Sans', sans-serif;
    /*font-family: 'Neutro', sans-serif;*/
    /*font-family: 'Ginto Nord', sans-serif;*/
    text-transform: inherit;
    font-weight: 800;
}

.neutro {
    font-family: 'Neutro', sans-serif;
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.footer-about-body p {
    text-align: justify;
}

body {
    background-color: #EFEFEF;
    color: #000000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}

.hero-title {
    /*font-family: 'Plus Jakarta Sans', sans-serif;*/
    font-family: 'Neutro', sans-serif;
    text-transform: inherit;
    font-weight: 800;
    font-size: 2.5rem;
}

.bottom-bg-style {
    position: relative;
    background-color: #5765f1;
    height: 40vh;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: -20;
    transform-origin: top left;
    transform: skew(0, 10deg);
}

.con-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.con-end {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.con-left-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
}

.con-right-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.jumbotron {
    /*background-color: #000A2A;*/
    background-color: transparent;
}

.navbar-brand {
    outline: none;
}

.navbar-bg {
    background-color: #efefef;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #5765f1;
}

.nav-name, .footer-name {
    font-family: 'Panipuri', sans-serif;
    margin-bottom: 0;
    font-size: 20px;
}

.nav-right .nav-item {
    margin: 0 8px;
}

.nav-name {
    color: #000;
    font-size: 1.3rem;
}

.nav-name:hover {
    color: #5765f1;
}

.footer-name {
    color: #000;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    color: #000000;
    font-size: 0.875rem;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #EFEFEF;
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 20px #00000014;
    line-height: 1.5;
    z-index: 100;
}

nav li a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    margin: 0 4px;
}

.navbar-light .navbar-nav .nav-link {
    color: #818181;
    font-size: 0.85rem;
}

.nav-logo {
    width: 118px;
}

.nav-logo-filter {
    /*-webkit-filter: drop-shadow(0 0 30px #343a98);*/
    /*filter: drop-shadow(0 0 30px #343a98);*/
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #232765;
    background-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    border: 2px solid #fff;
}

.sites-nav-link {
    padding: 6px 26px;
    border-radius: 10px;
    color: #5765f1;
    background-color: transparent;
    border: 2px solid #5765f1;
    font-size: 0.775rem;
}

.sites-nav-link:hover {
    color: #ffffff;
    background-color: #5765f1;
    border: 2px solid #5765f1;
}

.footer {
    width: 100%;
    left: 0;
    /*position: absolute;*/
    border-top: 1px solid #ffffff24;
}

.footer-about-body {
    padding: 20px 40px 100px 40px;
}

@media screen and (max-width: 360px) {
    .footer-about-body {
        padding: 60px 0;
    }
}

.footer, .footer-about-body {
    overflow: hidden;
}

.footer p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.footer h5 {
    margin-top: 4rem;
}

.footer-logo-1 {
    width: 150px;
    padding: 0 10px;
}

.footer-section {
    min-height: 80px;
}

.footer-section .row .col:nth-child(2) {
    text-align: center;
}

.footer-section .row .col:nth-child(3) {
    text-align: right;
}

.footer a {
    /*background-color: rgba(255, 255, 255, 0.34);*/
    padding: 3px 10px;
    border-radius: 5px;
    /*box-shadow: 0 0 20px rgb(0 0 0 / 4%);*/
    color: #ffffff;
}

.footer a:hover {
    color: #e4e6ff;
    text-decoration: none;
}

.footer p {
    margin-bottom: 0;
}

.copyright-text {
    color: #000;
    font-size: 0.5rem !important;
    letter-spacing: 0.1rem;
}

.by-satha-vr {
    color: #fff;
    margin: 0 20px;
}

.by-satha, .by-satha a {
    color: #fff;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

.footer-page-link {
    font-size: 0.8rem;
}

.privacy-divider {
    padding: 0 20px;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .privacy-divider {
        padding: 0 5px;
    }

    .by-satha-vr {
        margin: 0 13px 0 5px;
    }

    .footer-logo-1 {
        width: 100px;
    }
}

@media screen and (max-width: 768px) {

    .by-satha-vr {
        margin: 0 20px;
    }

    .footer-logo-1 {
        width: 150px;
    }

    .footer-section .row .col:nth-child(1) {
        min-width: 100%;
        text-align: center;
    }

    .footer-section .row .col:nth-child(2), .footer-section .row .col:nth-child(3) {
        min-width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .footer-section .row .col:nth-child(3) {
        min-width: 100%;
        text-align: center;
        margin-top: 0;
    }

    .footer-section {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 332px) {
    .by-satha-vr {
        display: none;
    }

    .by-satha {
        display: block;
        margin-top: 10px;
    }
}

.hero {
    padding: 40px 10px;
    /*min-height: calc(100vh - 57px);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .col-4, .hero .col-8 {
    /*border: 1px solid #000;*/
}

.hero-logo {
    width: 250px;
    margin-top: 10px;
}

.hero .row .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    border-right: 5px solid #5765f1;
    padding-right: 50px;
}

.hero .row .col-8 {
    text-align: left;
    padding-left: 55px;
}

.hero .edition-name {
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
}

.edition-list {
    /*margin-top: 60px;*/
    width: 100%;
}

.edition-list .col p {
    margin: 0;
}

.edition-list .col {
    padding: 30px 20px;
}

.edition-list .col:hover {
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.edition-availability-badge {
    text-transform: uppercase;
    font-size: 0.5rem;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 15px !important;
}

@media screen and (max-width: 992px) {
    .edition-availability-badge {
        font-size: 0.4rem;
    }
}

.edition-availability-badge-red {
    color: #4f4f4f;
    border-color: #4f4f4f;
}

.edition-availability-badge-green {
    color: #5765f1;
    border-color: #5765f1;
}

.edition-desc {
    font-size: 0.6rem;
    color: #8d8d8d;
}

@media screen and (min-width: 992px) {
    .mob-hero-header {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .pc-hero-header {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .hero {
        padding-top: 40px;
    }

    .mob-hero-header .hero-title {
        margin-top: 40px;
    }
}

/* 545, 575 */

.main-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.title-list-div {
    width: 100%;
    padding: 40px 5px;
    margin-top: 40px;
}

.title-list {
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.main-name {
    font-size: 4rem;
    font-family: 'Neutro', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.full-name {
    font-size: 0.675rem;
    letter-spacing: 0.3rem;
    color: #838383;
    padding-top: 0;
    margin: 0 0 30px 0;
    text-align: center;
}

iframe .watermark {
    display: none !important;
}

.panipuri {
    font-family: 'Panipuri', sans-serif;
    color: #5765f1;
}

.main-heading {
    font-size: 7rem;
}

.social-icon-row {
    width: 50%;
    text-align: center;
    margin: 0 15px;
}

.social-icon {
    padding: 0;
    margin: 0;
    width: 24px;
}

.contact-details {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
}

/* top gradient bg - start */
.home-hero-bg-div {
    overflow: hidden;
    width: 100vw;
}

.home-hero-bg {
    position: absolute;
    width: 50vw;
    height: 60vh;
    background: #000a2a;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.home-hero-bg-1 {
    left: -20vw;
    top: -12vh;
}

.home-hero-bg-2 {
    right: 0;
    bottom: -40vh;
}

.home-hero-bg-3 {
    left: -5vw;
    top: 50vh;
}

/* top gradient bg - end */

.main-section {
    min-height: calc(100vh - 57px);
}

.section-me {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 80px 20px 0 20px;
}
.satha-planet {
    width: 400px;
}

.research {
    padding: 60px 20px 40px 20px;
}

.big-board-div {
    margin-top: 80px;
}

.big-board {
    font-family: 'Panipuri', sans-serif;
    font-size: 4rem;
}

/*.footer-img {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*}*/

.footer-section {
    /*background: linear-gradient(145deg, #5765f1, #5765f1);*/
    padding: 30px;
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;

    /* 2 */
    /*height: 200px;*/
}

.footer-img {
    position: absolute;
    margin-top: -315px;
    z-index: -1;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: 0px;
    background-position-x: center;
}

.footer-whatever {
    font-size: 1.2rem;
}

.explore h1 {
    font-family: 'Panipuri', sans-serif;
    font-size: 1.2rem;
    color: #4d4d4d;
}

.explore-bg {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
}